@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100%;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.trans {
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}

@layer base {
  *,
  **::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  body {
    height: 100vh;
    @apply dark:text-white;
  }

  img,
  picture,
  svg,
  video {
    display: block;
    max-width: 100%;
  }

  a {
    @apply transition-all hover:text-accent;
  }
}
